Redpanda/materialized/mzdata/catalog
Redpanda/materialized/mzdata/materialized.pid
Redpanda/materialized/mzdata/persist/blob/4f825cd8-906a-445e-bb9d-380c7fe5ee78
Redpanda/materialized/mzdata/persist/blob/34f9c2dc-19c1-4005-a3eb-a94a84022df5
Redpanda/materialized/mzdata/persist/blob/53a78da2-6643-405b-9516-b43fa12bdae9
Redpanda/materialized/mzdata/persist/blob/73a88385-65c8-4f19-850c-fb491683e86e
Redpanda/materialized/mzdata/persist/blob/634a2ba5-c116-421f-a976-7af293404017
Redpanda/materialized/mzdata/persist/blob/9142106b-5bba-4787-8f7f-b8a9a99aa72e
Redpanda/materialized/mzdata/persist/blob/b7cca2c4-9389-40ee-9700-a36d6940b22c
Redpanda/materialized/mzdata/persist/blob/c94aaf25-f4bc-410b-9ad1-d0290f96dce3
Redpanda/materialized/mzdata/persist/blob/cfabdaa4-4e8f-47ec-ada7-89e8276af712
Redpanda/materialized/mzdata/persist/blob/e4a186b8-1f7c-4cfe-965b-f69c29e4cc70
Redpanda/materialized/mzdata/persist/blob/efe982a4-e326-4906-bbc9-7ee9c5b0948b
Redpanda/materialized/mzdata/persist/blob/fbf8a7af-6390-447c-bdcf-0ca5e7f88e2a
Redpanda/materialized/mzdata/persist/blob/LOCK
Redpanda/materialized/mzdata/persist/blob/META
Redpanda/metabase/data/metabase.db/metabase.db.mv.db
Redpanda/metabase/data/metabase.db/metabase.db.trace.db
